.container {
	margin-left: 10%;
	margin-right: 10%;
}

.day-section {
	border: 1px solid black;
	height: 100px;
}

.day-section h4{
	text-align: center;
}

.times-section {
	font-size: 18px;
}

#new-shift-form {
	display: none;
}